<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <footer th:fragment="footer">
    <!-- 푸터 아래쪽 -->
    <footer id="footer">
      <!-- 푸터 내용 -->
    </footer>
    <div class="sp1"></div>
    <div class="sp2"></div>
    <div class="sp3"></div>
    <div class="sp4"></div>
    <div class="sp5"></div>
    <div class="sp6"></div>
    <div class="sp7"></div>
    <div class="sp8"></div>
    <div class="sp9"></div>
    <div class="sp10"></div>
  </footer>
</body>
</html>