<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
</head>
<body>
<nav id="gnb" th:fragment="gnb">
    <ul class="gnb__info"><a href="#">채용정보</a>
      <div class="container1">
        <li class="gnb__infoLnb"><a href="#">구인 게시판</a></li>
      </div>
    </ul>
    <ul class="gnb__cum"><a href="#">커뮤니티</a>
      <div class="container2">
        <li class="gnb__cumLnb"><a href="#">고충 게시판</a></li>
      </div>
    </ul>
    <ul class="gnb__member"><a href="#">개인 서비스</a>
      <div class="container3">
        <li class="gnb__memberLnb1"><a href="#">이력서 작성</a></li>
        <li class="gnb__memberLnb2"><a href="#">이력서 관리</a></li>
        <li class="gnb__memberLnb3"><a href="#">스케줄 보기</a></li>
        <li class="gnb__memberLnb4"><a href="#">회원정보 수정</a></li>
        <li class="gnb__memberLnb5"><a href="#">비밀번호 변경</a></li>
      </div>
    </ul>
    <ul class="gnb__manager"><a href="#">기업 서비스</a>
      <div class="container4">
        <li class="gnb__managerLnb1"><a href="#">구인게시글 관리</a></li>
        <li class="gnb__managerLnb2"><a href="#">지원자 이력서 관리</a></li>
        <li class="gnb__managerLnb3"><a href="#">스케줄 등록</a></li>
        <li class="gnb__managerLnb4"><a href="#">회원정보 수정</a></li>
        <li class="gnb__managerLnb5"><a href="#">비밀번호 변경</a></li>
      </div>
    </ul>
    <ul class="gnb__support"><a href="#">고객지원</a>
      <div class="container5">
        <li class="gnb__supportLnb1"><a href="#">공지사항</a></li>
        <li class="gnb__supportLnb2"><a href="#">아이디 찾기</a></li>
        <li class="gnb__supportLnb3"><a href="#">비밀번호 찾기</a></li>
        <li class="gnb__supportLnb4"><a href="#">회원탈퇴</a></li>
      </div>
    </ul>
</nav>
</body>
</html>